body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.start-container {
  color: white;
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-cintainer {
overflow: auto;
}

.memo-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.432);
}

.memo-container>div {
  border: solid 1px black;
  padding: 20px;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px; 
  cursor: pointer;
}

.memo-container>div:active {
  box-shadow: 5px 5px 8px 2px black;;
}

.memo-answer {
  width: 200px;
  background-color: rgba(97, 97, 234, 0.83);
}

.memo-definition {
  width: 400px;
  background-color: rgba(146, 58, 228, 0.664);
}

.grade-button {
  border-radius: 100px;
  font-family: sans-serif;
  color: black;
}

.correct-button {
  background-color: chartreuse;
}

.incorrect-button {
  background-color: rgb(231, 57, 34);
}

.sidebar-container {
  position: fixed;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: aqua;
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: 600;
  color: black;
}