.page {
  margin: 0;
  font-family: "Oswald", sans-serif;
  background-image: url('./images/sunrise.jpg');
 background-size: 100%;
}

.start {
  color: white;
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: 100vh;
}

.form-block__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-block__textarea {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  overflow: auto;
  background-color: rgba(109, 178, 213, 0.664);
  color: rgb(250, 252, 235);
  text-shadow: 1px 1px 6px black;
  font-size: 18px;
  padding: 10px;
  width: 80vw;
  height: 50vh;
}

button {
  background-color: rgba(165, 216, 241, 0.664);
  color: black;
  font-size: 30px;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.form-block__request {
  background-color: rgba(109, 178, 213, 0.664);
  color: rgba(233, 240, 158);
  text-shadow: 2px 2px black;
  padding: 0 5px;
}

.main-container {
  overflow: auto;
  position: relative;
}

.memo-container {
  display: grid;
  grid-template-columns: 300px auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-shadow: 0px 0px 3px black;
}

.memo-container>div {
  border: solid 1px black;
  padding: 20px;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  
}

.memo-answer {
  width: 200px;
  background-color: rgba(97, 97, 234, 0.664);
}

.memo-definition {
  width: 400px;
  background-color: rgba(146, 58, 228, 0.664);
}

.grade-button {
  border-radius: 100px;
  font-family: sans-serif;
  color: white;
  cursor: pointer;
  min-width: 70px;
  min-height: 50px;
}

.grade-button:active {
  box-shadow: 5px 5px 8px 2px black;

}

.grade-container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.correct-button {
  background-color: rgba(128, 255, 0, 0.664);
}

.incorrect-button {
  background-color: rgba(231, 57, 34, 0.664);
}

.memo {
  box-shadow: 0px 0px 18px rgb(255, 255, 255);
}

.scorebar {
  position: sticky;
  top: 0;
  background-color: rgb(189, 196, 47);
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 20px;
}

.scorebar__correct {
  background-color: rgb(74, 196, 47);
  padding: 20px;
}

.scorebar__incorrect {
  background-color: rgb(196, 67, 47);
  padding: 20px;
}

.scorebar__progressbar {
  width: 15vw;
  height: 3.5vh;
  background-color: rgb(175, 138, 27);
}

.scorebar__progress {
  width: 0vw;
  height: 3.5vh;
  background-color: rgb(36, 52, 195);
}

.sidebar {
  position: fixed;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.664);
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px black;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 26px;
  margin-top: 25%;
}

.result-text {
  text-shadow: 1px 1px 3px black;
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgba(233, 150, 122, 0.664);
}