body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  background-image: url('./images/sparkler.jpg');
 background-size: 100%;
}

.start-container {
  color: white;
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.form>textarea {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  overflow: auto;
  background-color: rgb(109, 178, 213);
  color: rgb(250, 252, 235);
  text-shadow: 1px 1px 6px black;
  font-size: 18px;
  padding: 10px;
}

.form>button {
  background-color: rgb(165, 216, 241);
  color: black;
  font-size: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.form-container>p {
  background-color: rgb(109, 178, 213);
  color: rgb(233, 240, 158);
  text-shadow: 2px 2px black;
}

.main-cintainer {
  overflow: auto;
}

.memo-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-shadow: 0px 0px 3px black;
}

.memo-container>div {
  border: solid 1px black;
  padding: 20px;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.memo-container>div:active {
  box-shadow: 5px 5px 8px 2px black;
  ;
}

.memo-answer {
  width: 200px;
  background-color: rgba(97, 97, 234, 0.664);
}

.memo-definition {
  width: 400px;
  background-color: rgba(146, 58, 228, 0.664);
}

.grade-button {
  border-radius: 100px;
  font-family: sans-serif;
  color: white;
}

.correct-button {
  background-color: rgba(128, 255, 0, 0.664);
}

.incorrect-button {
  background-color: rgba(231, 57, 34, 0.664);
}

.memo-button {
  box-shadow: 0px 0px 18px rgb(255, 255, 255);
}

.sidebar-container {
  position: fixed;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.664);
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}